{{define "footer"}}
<footer>
    <div class="row expanded callout secondary">
  
      <div class="small-6 large-3 columns">
        <p class="lead">Contact</p>
        <ul class="menu vertical">
          <li><a href="#">Twitter</a></li>
        </ul>
      </div>
  
    </div>
    <div class="row">
  
      <div class="medium-6 columns">
        <ul class="menu">
          <li><a href="#">Graphs</a></li>
        </ul>
      </div>
  
      <div class="medium-6 columns">
        <ul class="menu float-right">
          <li class="menu-text">© 2021 shien07</li>
        </ul>
      </div>
    </div>
  
  </footer>
  
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
      <script>
        $(document).foundation();
      </script>
    </body>
  </html>
  {{end}}