{{template "header" .}}
<br>

<div class="row column">

  <div class="medium-7 large-6">
    <h1 class="columns">体重を記録しよう</h1>
    <p class="subheader columns">毎日の変化を残しましよう</p>
  </div>

</div>

{{template "footer"}}