{{template "header".}}

<div class="row">

  <div class="medium-7 large-6 columns">
    <a href="/api/login" class="button">Login via Google</a>
  </div>

<div class="row column">
  <hr>
</div>

{{template "footer".}}
